/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic Body Styling */
body, html {
    height: 100%;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    background-image: url('../images/Lunar_agenda_pillars.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

/* Text Section Styling */
.text {
    /*margin-bottom: 20px;*/
    text-align: center;
}

    .text h1 {
        font-size: 2.5rem;
        color: white;
    }

    .text p {
        font-size: 1.2rem;
        color: white;
    }

main {
    overflow-y: auto;
    height: 90%;
}

/* Cards Wrapper */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: nowrap;
    padding: 40px;
    /*max-width: 1200px;*/
    /*margin: 0 auto;*/
}

/* Card Styles */
.card {
    flex: 1;
    max-width: 400px;
    position: relative;
    border: 2px solid rgba(0, 255, 255, 0.4);
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    background: transparent;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
}

    .card img {
        width: 100%;
        height: auto;
    }

    .card .info {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        text-align: center;
        padding: 10px;
    }

    .card:hover {
        transform: scale(1.05);
    }

/* Responsive Design */
@media (max-width: 768px) {
    .wrapper {
        flex-wrap: wrap;
    }

    .card {
        flex: 1 1 100%;
        max-width: none;
    }
}

thead, tbody {
    text-align: center;
    vertical-align: central;
}

/* Sticky Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    bottom: 0;
    width: 100%;
    height: 10%;
    /*white-space: nowrap;*/
}
