@model LunarWebApp.Models.Note

<h2>@Model.Title</h2>

<p><strong>Body:</strong> @Model.Body</p>
<p><strong>Date Created:</strong> @Model.DateCreated.ToString("MMMM yyyy")</p>
<p><strong>Last Opened:</strong> @Model.LastOpened.ToString("MMMM yyyy")</p>


<a asp-action="Index" class="btn btn-primary">Back to All Movies</a>